footer.footer
	.footer-main
		.container
			.row
				.footer-main-info.col-lg-5.col-sm-12
					a.logo(href='/')
						picture.logo-thumb._top
							img(
								src='i/logo-white.png',
								srcset='i/logo-white.png, i/logo-white@2x.png 2x',
								width='56',
								alt=''
							)
						.logo-title
							b CardsBanking.ru
							span  Навигатор по банковским картам
					.footer-info Содержание сайта не является рекомендацией или офертой и носит информационно-справочный характер

				- var footerMenuTitles = ['Дебетовые карты', 'Кредитные карты', 'Кредитные карты'], footerMenuList = ['Кредитные карты', 'Сравнение кредиток', 'Ссылка 1', 'Ссылка 2', 'Ссылка 3'];
				each footerMenuTitle in footerMenuTitles
					.col-sm
						+footerMenu({'title': footerMenuTitle, 'list': footerMenuList})

	.footer-sub
		.container
			.row
				.col-lg-3
					.footer-copy © 2019 | CardsBanking.ru
				.col-lg
					ul.footer-menu-sub.list-unstyled.d-flex.flex-wrap.justify-content-md-end.justify-content-center
						- var footerMenuSubList = ['О сайте', 'Карта сайта', 'Политика конфиденциальности', 'Пользовательское соглашение'];
						each footerMenuSubItem in footerMenuSubList
							li
								a(href='/')= footerMenuSubItem