mixin breadcrumbs(items)
	.container
		div.breadcrumbs(
			typeof='BreadcrumbList',
			vocab='http://schema.org/'
		)
			each item, index in items
				if index +1 < items.length
					span(property='itemListElement', typeof='ListItem')
						a(property='item', typeof='WebPage', href='/')
							span(property='name')= item
							meta(property='position', content=index +1)
						span.delimiter |
				else
					span.current-item= item