extends ./layout/layout.pug

block meta
	title Пластиковая карта МИР

block header
	include ./blocks/header/_menu.pug

block content
	+breadcrumbs(['Главная', 'Карты', 'МИР'])

	.container
		.row
			main.main.col-lg-8
				article.entry
					header.entry-header
						h1.entry-title(itemprop='headline') Пластиковая карта МИР от Сбербанка — всё о преимуществах и недостатках её использования

					figure.entry-image
						img.attachment-full.size-full.wp-post-image(
							src='t/21.jpg',
							alt='',
							itemprop='image'
						)
					.entry-content(itemprop='articleBody')
						include ./blocks/main/_toc.html

						p Банки выпускают карточки Visa, MasterCard, своевременно заменяют их, обеспечивают получение наличности, доступ клиента к счету карты. Главную роль при взаиморасчетах с помощью пластика играют платежные системы.
						p Управление компаний Виза, МастерКард расположено в США. Сложные международные отношения сделали ненадежным использование их продуктов в Российской Федерации. Появилась необходимость организовать работу карт собственными силами.
						p Российская система была разработана и запущена по инициативе правительства. Перед ней поставлены серьезные задачи:
						ul
							li обеспечить безналичные расчеты;
							li стать привлекательной для клиентов;
							li создать альтернативу Визе, МастерКарду.
						blockquote.warning
							p Ознакомимся с платежной картой МИР Сбербанка, узнаем, как решаются поставленные задачи.
						h2
							span#i Российская система платежей
						p Одни из первых иностранных санкций в 2014 году касались банковских карт. Они перестали работать на территории Крыма. В этом же году началась работа над собственной платежной системой. Все желающие внесли предложения и выразили свое мнение относительно названия и логотипа. В декабре 2015 года были выпущены и начали работать первые российские карты МИР.
						p Пластик национальной системы действует на территории всей РФ, включая Крым. За пределами государства воспользоваться МИРом проблематично, большинство стран его не принимают.
						blockquote.check
							p Несмотря на более скромный функционал по сравнению с международными картами, МИР:
						ul
							li является платежным средством, который продолжит работать даже в случае отказа в обслуживании Visa, MasterCard;
							li делают нерациональными санкции в отношении международного пластика, косвенно обеспечивают его стабильную работу.
						h3
							span#i-2 Что это за карта и она зачем нужна?
						blockquote.quote
							p Основной поток клиентов МИР – это пенсионеры, военнослужащие и бюджетники. С 2017 года стартовала замена международных карт на российские.
							p
								i По федеральному закону деньги из бюджета больше нельзя получать с участием иностранных инструментов. Исключение сделано для пенсионеров: они могут перейти с Maestro при плановом перевыпуске, вплоть до середины 2020 года.
						p Мера обеспечивает:
						ul
							li независимость пенсий и зарплат от решений других государств;
							li приличную клиентскую базу молодой системе, которая не выдержала бы рыночной конкуренции.
						p
							iframe(
								src='https://www.youtube.com/embed/2Ds1cYE6c6Y?feature=oembed',
								allow='autoplay; encrypted-media',
								allowfullscreen,
								width='700',
								height='394',
								frameborder='0'
							)
						h3
							span#i-3 Как выглядит
						p Пластиковая карта МИР Сбербанка стандартных размеров. На нее нанесен номер, фамилия, имя держателя, срок действия, встроен электронный чип. На оборотной стороне находятся магнитная лента, полоса из высокопрочной бумаги для подписи держателя, CVC–код.
						p
							span(
								itemprop='image',
								itemscope,
								itemtype='https://schema.org/ImageObject'
							)
								img.alignnone.size-full(
									itemprop='url image',
									src='t/22.jpg',
									alt='',
									width='1280',
									height='726'
								)
								meta(itemprop='width', content='1280')
								meta(itemprop='height', content='726')
						p Дизайн выполняется на усмотрение банка, периодически обновляется. Обязательным условием является присутствие логотипа в бело-зелено-голубом цвете. При беглом взгляде отличия пластика от международного малозаметны.
						blockquote.check
							p
								strong Номер карты
							p 16 цифр на лицевой стороне являются номером карты. Не путаем его с номером счёта. Он есть в реквизитах, которые можно получить в банке или узнать в личном кабинете интернет-банкинга.
						blockquote.check
							p
								strong На какой срок выпускается
							p Продукт действителен на протяжении 5 лет. Разработчики заявляют о его повышенной прочности и защите от подделок.
						h2
							span#i-4 Чем отличается от других платёжных систем?
						p Различия существенные:
						table.tablepress
							thead
								tr.row-1.odd
									th.column-1
										br
									th.column-2 МИР
									th.column-3 Международные
							tbody.row-hover
								tr.row-2.even
									td.column-1 Зона действия
									td.column-2 Вся Россия, Армения. Остальные страны только по кобейджинговым картам.
									td.column-3 Все страны, включая Россию. Исключение – территория Крыма из-за санкций.
								tr.row-3.odd
									td.column-1 Валюта
									td.column-2 Рубль
									td.column-3 Рубль / евро / доллар США
								tr.row-4.even
									td.column-1 Срок действия
									td.column-2 5 лет
									td.column-3 3 года
								tr.row-5.odd
									td.column-1 Возможность использовать в зарплатных проектах
									td.column-2 Для всех
									td.column-3 Только для работников коммерческих организаций
								tr.row-6.even
									td.column-1 Для пенсий
									td.column-2 Подходит
									td.column-3 Не соответствует по закону
								tr.row-7.odd
									td.column-1 Технические сбои
									td.column-2 Частые
									td.column-3 Редкие
								tr.row-8.even
									td.column-1 Зависимость от внешней политики
									td.column-2 Низкая
									td.column-3 Высокая
						h3
								span#i-5 Где можно расплачиваться
						blockquote.info
							p Где можно расплачиваться
						p
							b MIR принимают:
						ul
							li все розничные магазины России (обязаны с октября 2017);
							li поставщики коммунальных услуг;
							li государственные и муниципальные учреждения, принимающие оплату по карте.
						p
							b Ограничения:
						ul
							li не во всех интернет-магазинах можно расплатиться, особенно с участием иностранных компаний;
							li нет возможности использовать за рубежом.
						p
							span(
								itemprop='image',
								itemscope,
								itemtype='https://schema.org/ImageObject'
							)
								img.alignnone.size-full.aligncenter(
									itemprop='url image',
									src='t/25.jpg',
									alt='',
									width='968',
									height='544'
								)
								meta(itemprop='width', content='968')
								meta(itemprop='height', content='544')
						h3
							span#i-6 Можно ли расплачиваться за границей?
						p Пластик работает на территории Армении. В остальных странах МИР не принимается. Ведутся переговоры о приеме в странах ЕврАзЭС, Турции, ОАЭ, Таиланде и других популярных курортах. Пока соглашения не достигнуты.
						blockquote.check
							p Функции:
						ul
							li безналичная оплата;
							li получение наличных в банкоматах и кассах;
							li отправление и получение переводов, в том числе выплат из бюджета.
						h2
							span#i-7 Возможности
						p Разобравшись, что за карта МИР от Сбербанка и зачем нужна, полезно узнать о ее дополнительных возможностях:
						ul
							li доступ к удаленным сервисам;
							li пополнение счета наличными и безналичными переводами;
							li подключение автоплатежей на оплату сотовой связи, коммунальных и других услуг;
							li перевод денег на отдельный счет клиента комфортными суммами в автоматическом режиме (сервис Копилка).
						h3
							span#i-8 Кобейджинговая карточка МИР Сбербанка
						p Две или более платежные системы могут договориться о совместной работе. Один и тот же пластик будет обслуживаться на разных территориях в разных системах. Такая услуга практикуется при отсутствии технического обеспечения отдельных компаний в каких-то государствах, называется кобейджинг.
						p МИР заключил соглашения с MasterCard (Maestro), UnionPay, JCB. Некоторые банки начали выпуск кобейджинговых карт. Из-за низкого спроса, невозможности использовать их в качестве зарплатных и пенсионных — Сбербанк их выпуском не занимается.
						p
							span(itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
								img.alignnone.size-full(
									itemprop='url image',
									src='t/26.jpg',
									alt='',
									width='1024',
									height='683')
								meta(itemprop='width', content='1024')
								meta(itemprop='height', content='683')
						h2
							span#i-9 На какие категории делятся карты МИР
						p На официальном сайте Сбербанка предлагаются три вида носителей: классические, золотые, социальные/пенсионные карты. В премиум сегменте индивидуальные предложения поступают участникам зарплатных проектов.
						h3
							span#i-10 Кредитная
						p Продукт подразумевает предоставление клиенту возможности воспользоваться некоторой суммой, которая доступна через оплату картой или снятие с неё наличных. За пользование средствами банк взимает комиссию. При безналичной оплате действует льготный период от 20 до 50 дней, когда клиент может пополнить баланс карты, не уплачивая процентов.
						p Российская система молодая, и на 2018 год Сбербанк не предлагает кредитные карты МИР.
						h3
							span#i-11 Дебетовая
						p Базовый набор функций, задача которого заменить наличность в портмоне клиента. Карта позволяет:
						ul
							li внести на нее наличные;
							li получать, отправлять переводы;
							li расплачиваться на кассе, предъявляя вместо денег пластик;
							li при необходимости снять средства в банкомате;
							li пользоваться удаленными сервисами банка.
						p Сбербанк выпускает наиболее распространенную разновидность пластика – дебетовые без овердрафта. Выглядят они похожими на международные.
						h3
							span#i-12 Стандартная
						p Используется преимущественно в качестве зарплатной для госслужащих и других бюджетников. Держателям в таком случае карта бесплатна.
						p Пластик обеспечивает полный функционал дебетовой карты. Лимиты на получение наличных, кэшбэк такие же, как у международных Standart.
						p
							span(itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
								img.size-full(
									itemprop='url image',
									src='t/27.jpg',
									alt,
									width='1024',
									height='682'
								)
								meta(itemprop='width', content='1024')
								meta(itemprop='height', content='682')
						h3
							span#i-13 Золотая
						p Суточный лимит на снятие наличности установлен в 2 раза больше по сравнению со стандартным продуктом.
						p Начисляются повышенные бонусы Спасибо при безналичных оплатах в предыдущем месяце на сумму свыше 15 000 рублей.
						p
							a(href='/')
								span(style='color: #333399;') Карта соответствует условиям
							| получения выплат из бюджета. Однако из-за высокой стоимости организации отказываются ее содержать. По желанию вы можете оплачивать годовое обслуживание самостоятельно, сообщив реквизиты для перечислений.
						h3
							span#i-14 Социальная
						p Льготный продукт. Предоставляется подтвердившим свое право на получение выплат из ПФР и других пенсионных органов, а также тем, кто переходит с Маэстро Социальной.
						p
							| От
							a(href='/')
								span(style='color: #333399;') Пенсионной МИР
							| можно отказаться, выбрав другой способ получения выплат: на депозитный счет в банке или наличными через почту.
						p Пенсионеры имеют право сохранить международную карту Maestro, но она перестанет функционировать как льготная. Пенсию на неё получать будет невозможно, так как ее работу обеспечивает иностранная организация.
						p
							span(itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
								img.alignnone.size-full(
									itemprop='url image',
									src='t/28.jpg',
									alt,
									width='1200',
									height='798'
								)
								meta(itemprop='width', content='1200')
								meta(itemprop='height', content='798')
						h3
							span#i-15 Другие разновидности
						p В прессе регулярно появляются анонсы о предстоящем запуске. Но до конца первого полугодия 2018 премиальные и кредитные карты МИР в Сбербанке в свободном доступе так и не появились.
						p
							| По персональному предложению некоторым участникам
							a(style='color: #333399;', href='/') зарплатных проектов
							| предлагают получить дебетовую Премиальную или Премиальную+. На сайте банка отсутствует точная информация о тарифах и условиях обслуживания. Имеется сообщение, что продукты аналогичны Platinum и Infinite.
						p Премиальный международный пластик обеспечивает повышенные лимиты на обналичивание, повышенные бонусы Спасибо, VIP-обслуживание, Infinite – дополнительно бесплатное расширенное страхование в путешествиях.
						p
							strong Стоимость обслуживания
						table.tablepress
							thead
								tr.row-1.odd
									th.column-1 &nbsp;
									th.column-2 Классик
									th.column-3 Пенсионная
									th.column-4 Голд
							tbody.row-hover
								tr.row-2.even
									td.column-1 Стоимость обслуживания
									td.column-2 750 руб. в 1-й год, 450 – каждый последующий
									td.column-3 Бесплатно
									td.column-4 3000 руб. за каждый код
								tr.row-3.odd
									td.column-1 Плата за перевыпуск по причинам, зависящим от держателя
									td.column-2 150 руб.
									td.column-3 30 руб.
									td.column-4 Бесплатно
								tr.row-4.even
									td.column-1 Суточный лимит на получение наличных без комиссии, тыс. руб.
									td.column-2 150
									td.column-3 50
									td.column-4 300
								tr.row-5.odd
									td.column-1 Месячный максимум обналичивания без комиссии
									td.column-2 1,5 млн
									td.column-3 500 тыс.
									td.column-4 3 млн
								tr.row-6.even
									td.column-1 Начисление процентов на остаток
									td.column-2 –
									td.column-3 3,5%
									td.column-4 –
								tr.row-7.odd
									td.column-1 Мобильный банк
									td.column-2 60 руб./мес.
									td.column-3 30 руб./мес.
									td.column-4 Бесплатно
								tr.row-8.even
									td.column-1 Бонусы
									td.column-2(colspan='2') По общим правилам
									td.column-4 Возможность получать повышенные
						h2
							span#i-16 Как получить?
						ol
							li Подайте заявление, сообщите паспортные данные.
							li Дождитесь СМС о готовности карты к выдаче. Этот этап длится от 2 до 14 дней в разных регионах. Изготовление часто происходит в другом городе, требуется время на доставку.
							li Предъявите паспорт, получите карту.
						h3
							span#i-17 Способы получить карту
						p Выдача происходит всегда в офисе банка. Заказать можно там же или через интернет.
						p
							strong Условия и требования
						p Для получения классических и золотых МИР:
						ul
							li возраст от 14 лет;
							li постоянная или временная регистрация в РФ.
						p В подтверждение предъявите паспорт, если регистрация временная, а также свидетельство.
						p Соблюдение требований, необходимых для выпуска пенсионной карты:
						ul
							li гражданин любого государства и лицо без гражданства;
							li в возрасте не младше 18 лет;
							li с постоянной или временной регистрацией в России;
							li подтвержденное право на получение пенсии от ведомств в РФ.
						p Соответствующие документы:
						ul
							li паспорт;
							li справка о получении пенсии с синей печатью;
							li при наличии – свидетельство о временной регистрации.
						h3
							span#i-18 В отделении
						p Обратитесь к сотруднику банка, воспользовавшись электронной очередью. Предъявите паспорт и сообщите о своем желании получить пластик.
						p Работник расскажет вам о продукте, вы можете попросить письменные правила, тарифы, ознакомьтесь с ними. Задайте интересующие вопросы, в обязанности менеджера входит разъяснение всех неясностей клиенту.
						p Заполните стандартное заявление. Сотрудник сообщит ориентировочное время доставки карты.
						h3
							span#i-19 Через интернет
						p Онлайн-заявка доступна на сайте банка. Зайдите на страницу с информацией об интересующей карте, кликните на кнопку оформления. Алгоритм будет отличаться от того, действующий вы клиент или новый. В любом случае в открывшемся меню заполните соответствующие разделы. Банк рассмотрит заявку, в течение 2–3 дней уведомит о результате.
						h3
							span#i-20 От работодателя
						p Участники зарплатных проектов могут получить пластик на работе. Однако это возможность, а не обязательство. При желании вы можете забрать карту в отделении по паспорту, не дожидаясь доставки до предприятия. Вы также можете отказаться, сообщив в бухгалтерию любой другой удобный способ получения денег:
						ul

							li через кассу;
							li на депозитный счет;
							li на счет другой карты.
						p
							strong Можно ли выпустить к основной дополнительную карту?
						p Возможность предоставляет только Gold. Стоимость дополнительного пластика 2500 рублей в год. Классическая и Пенсионная МИР не предусматривают выпуск второй карты к счету.
						p
							iframe(
								src='https://www.youtube.com/embed/xeNAOv0g9DI?feature=oembed',
								allow='autoplay; encrypted-media',
								allowfullscreen,
								width='700',
								height='394',
								frameborder='0'
							)
						h2
							span#i-21 Управление картой
						p Получить интересующую информацию, выполнить операции безналичной оплаты и переводов можно несколькими способами:
						ul
							li офис банка;
							li банкомат;
							li персональный компьютер;
							li мобильное приложение.
						h3
							span#i-22 Лицевой счет карты
						p Деньги хранятся на счете в банке. Если вы сообщили для перечисления средств реквизиты счета, при замене карты деньги продолжат беспрепятственно поступать. Если вы кому-то дали номер карты для переводов, данные необходимо обновлять после перевыпуска.
						h3
							span#i-23 Сбербанк онлайн
						p Удаленный сервис позволяет с любого компьютера или телефона, имеющего выход в интернет, пользоваться и управлять своими счетами в Сбербанке. С его помощью вы можете:
						ul
							li получать информацию о движениях денег по счетам;
							li производить оплату услуг ЖКХ, налоги, сотовую связь, штрафы и другие счетов по реквизитам;
							li переводить деньги физическим и юридическим лицам.
						p
							strong Что делать, если не отображается в кабинете?
						p Обратитесь в отделение банка, либо позвоните в техподдержку по номеру 900.
						p Причины бывают разные, наиболее распространенные связаны с оформлением:
						ul
							li опечатка при внесении данных клиента в базу;
							li неудачный обмен данными при открытии карт в разных отделениях.
						h3
							span#i-24 Мобильный банк
						p Полный пакет удаленного сервиса позволяет получать на телефон:
						ul
							li уведомления о списании и зачислении средств;
							li пароли для подтверждения безналичных операций;
							li информацию о задолженности по кредитам;
							li предложения банка и другую полезную информацию.
						p В зависимости от тарифа услуга стоит от 0 до 60 рублей в месяц. Всем клиентам доступен бесплатный экономный пакет, который позволяет получать всю информацию кроме поступления и расходования средств.
						h2
							span#i-25 Что делать, если не получается оплатить?
						p Терминалы регулярно отказываются принимать пластик к оплате. Это происходит в розничных, онлайн-магазинах. Возможные причины:
						ul
							li неправильный PIN;
							li истек срок действия;
							li карта вставлена ошибочной стороной;
							li ошибка при вводе данных карты (интернет);
							li пластик поврежден;
							li недостаточно средств;
							li терминал неисправен;
							li продавец неправильно оформляет операцию (например, стажер);
							li сбой в работе платежной системы.
						p Что делать:
						ul
							li убедитесь в правильности своих действий, повторите попытку рассчитаться;
							li попробуйте совершить любую операцию в другом терминале;
							li при неудачных попытках в разных терминалах обратитесь за помощью в банк.
						h2
							span#i-26 Скидки и бонусы
						p Карты МИР позволяют подключить бонусную программу Спасибо. Баллы в размере не менее 0,5% от всех покупок будут накапливаться на отдельном счете. Партнеры Сбербанка начисляют повышенный кэшбэк, который иногда доходит до 30% и выше.
						p Многие из них также принимают бонусы к оплате. Список участников и их условия постоянно обновляются, отображаются на сайте банка в разделе Спасибо. Ознакомьтесь с актуальной информацией.
						p МИР предлагает зарегистрировать карту на своем сайте и участвовать в программе кэшбэка. Особенность сервиса в том, что получить бонусы можно далеко не во всех регионах России.
						h3
							span#i-27 Розыгрыши
						p МИР поощряет за оплату покупок картой. Регулярно проходит акция, по которой клиенты:
						ul
							li регистрируют пластик на сайте платежной системы;
							li расплачиваются в магазинах МИРом;
							li все покупки от 500 рублей участвуют в розыгрыше ценных призов – сумм до 1 миллиона рублей, автомобилей.
						h2
							span#i-28 Плюсы и минусы карты
						p Преимущества карты МИР от Сбербанка:
						ul
							li возможность получать выплаты из бюджета по пластику – основное достоинство;
							li наличие бесплатных предложений;
							li широкая сеть банкоматов;
							li привлекательные программы лояльности как от банка, так и от платежной системы;
							li возможность использования в Крыму.
						p Имеются серьезные недостатки:
						ul
							li система новая,ее работа дает иногда сбои;
							li серьезные ограничения при оплате за границей;
							li отсутствие кредитных продуктов;
							li единственная валюта счета рубль;
							li не все интернет-магазины принимают МИР;
							li навязывание функции бесконтактной оплаты;
							li цена обслуживания такая же, как у международных продуктов, качество уступает.
						p Видео: о создании национальной платежной системы
						h2
							span#i-29 Заключение
						blockquote.danger
							p Оценивая для себя продукт карта МИР от Сбербанка плюсы и минусы, многие делают выбор в пользу международных конкурентов. Мы можем по-прежнему пользоваться Визой и МастерКард за свой счет. Отсутствуют препятствия снимать, переводить зарплату или пенсию с социального, зарплатного пластика на другой.
						p Однако МИР – важный этап в экономическом развитии России. Государство создало национальную платежную систему, и содержит её: карты бесплатны для получателей выплат, но бюджет оплачивает их обслуживание. Теми самыми деньгами, которые уходили в иностранные компании Visa, MasterCard.
						p Система имеет большой потенциал. Насколько грамотно он будет реализован, узнаем через несколько лет.

				.widget
					.widget-title Вам также может быть интересно
					include ./blocks/main/_posts-related.pug

					.comments-area#comments
						.comments-title Комментарии:
						ol.comment-list
							li.comment.even.thread-even.depth-1#li-comment-361(
								itemprop='comment',
								itemscope,
								itemtype='http://schema.org/Comment'
							)
								.comment-box#comment-361
									.comment-header
										.comment-avatar
										.comment-meta
											cite.comment-author(itemprop='creator') Татьяна
											time.comment-time(itemprop='datePublished', datetime='2018-10-04') 04.10.2018 в 13:02
									.comment-body
										.comment-text(itemprop='text')
											p Прошу разъяснить, почему Сбербанк ограничивает по возрасту  открытие дебетовой карты.  Мне 70 лет, я гражданин Российской Федерации. Или мы, кому 70 и выше — уже не человеки,  не люди? А между прочим я продолжаю активно работать, я профессор.
										.comment-footer
											span.comment-reply-link(
												rel='nofollow',
												data-href='#comment-361',
												data-commentid='361',
												data-postid='155',
												data-belowelement='comment-361',
												data-respondelement='respond',
												aria-label='Комментарий к записи Татьяна'
											) Ответить
								ol.children
									li.comment.byuser.comment-author-cardsbanking.odd.alt.depth-2#li-comment-362(
										itemprop='comment',
										itemscope,
										itemtype='http://schema.org/Comment'
									)
										.comment-box#comment-362
											.comment-header
												.comment-avatar
												.comment-meta
													cite.comment-author(itemprop='creator') CardsBanking
													time.comment-time(itemprop='datePublished', datetime='2018-10-05') 05.10.2018 в 10:38
											.comment-body
												.comment-text(itemprop='text')
													p Татьяна, добрый день! Не совсем верно. Сбербанк ограничивает выдачу кредиток — до 65 лет. А на дебетовый пластик таких ограничений нет.
												.comment-footer
													span.comment-reply-link(
														rel='nofollow',
														data-href='#comment-362',
														data-commentid='362',
														data-postid='155',
														data-belowelement='comment-362',
														data-respondelement='respond',
														aria-label='Комментарий к записи CardsBanking'
													) Ответить
							li.comment.even.thread-odd.thread-alt.depth-1#li-comment-408(
								itemprop='comment',
								itemscope,
								itemtype='http://schema.org/Comment'
							)
								.comment-box#comment-408
									.comment-header
										.comment-avatar
										.comment-meta
											cite.comment-author(itemprop='creator') Надежда
											time.comment-time(itemprop='datePublished', datetime='2018-11-06') 06.11.2018 в 13:40
									.comment-body
										.comment-text(itemprop='text')
											p Какие преимущества этой Карты в аэропорту? Есть какие-то привелегии?
										.comment-footer
											span.comment-reply-link(
												rel='nofollow',
												data-href='#comment-408',
												data-commentid='408',
												data-postid='155',
												data-belowelement='comment-408',
												data-respondelement='respond',
												aria-label='Комментарий к записи Надежда'
											) Ответить
						.comment-respond#respond
							.comment-reply-title#reply-title
								| Добавить комментарий 
								small
									a#cancel-comment-reply-link(
										href='/',
										rel='nofollow',
										style='display:none'
									) Отменить ответ
							form.comment-form#commentform(
								action='/',
								method='post',
								novalidate
							)
								.form-group.comment-form-author
									input.form-control#author(
										name='author',
										type='text',
										value,
										size='30',
										maxlength='245',
										required='required',
										placeholder='Ваше имя'
									)
								.form-group.comment-form-email
									input.form-control#email(
										name='email',
										type='email',
										value,
										size='30',
										maxlength='100',
										required='required',
										placeholder='Ваш e-mail'
									)
								.form-group.comment-form-comment
									textarea.form-control#comment(
										name='comment',
										cols='45',
										rows='8',
										maxlength='65525',
										required='required',
										placeholder='Комментарий'
									)
								.form-group.form-submit
									input.btn-primary.btn.submit#submit(
										name='submit',
										type='submit',
										value='Отправить комментарий'
									)

			aside.sidebar.col-lg-4
				.promo-item
					a.promo-item-text(href='/', style='background-image:url(t/17.jpg)')
						b ТОП-10 
						| кредитных карт с 
						b Кэшбэком
				.promo-item
					a.promo-item-text(href='/', style='background-image:url(t/18.jpg)')
						| Лучшие
						br
						b Кредитные карты
				.promo-item
					a.promo-item-text(href='/', style='background-image:url(t/19.jpg)')
						b Рейтинг
						br
						| дебетовых карт

				.sidebar-navigation.sidebar-widget
					.sidebar-widget-title Рубрики
					ul.menu
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-post-ancestor.menu-item-has-children
							a(href='/') Банки
							ul.sub-menu
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-post-ancestor.current-menu-parent.current-post-parent
									a(href='/') Сбербанк
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category
									a(href='/') Альфа-Банк
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category
									a(href='/') ВТБ
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category
									a(href='/') Тинькофф
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-post-ancestor.menu-item-has-children
							a(href='/') Карты
							ul.sub-menu
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category
									a(href='/') Visa
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category
									a(href='/') MasterCard
								li.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-post-ancestor.current-menu-parent.current-post-parent
									a(href='/') МИР
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category
							a(href='/') Дебетовые
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category
							a(href='/') Кредитные
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category
							a(href='/') Переводы и оплата
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category
							a(href='/') Инструкции
						li.menu-item.menu-item-type-taxonomy.menu-item-object-category
							a(href='/') Вопросы и ответы

				.sidebar-widget
					.sidebar-widget-title Курс валют
					.currencyconverter-minimalistic-container
						.currencyconverter-minimalistic-single-currency
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-currency-price 64,19
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-inline-list
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-ticker USD
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-change-percentage
										| +0,75
										span.currencyconverter-percentage-symbol %

						.currencyconverter-minimalistic-single-currency
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-currency-price 70,59
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-inline-list
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-ticker EUR
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-change-percentage
										| +0,80
										span.currencyconverter-percentage-symbol %
						.currencyconverter-minimalistic-single-currency
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-currency-price 79,87
							.currencyconverter-minimalistic-row
								span.currencyconverter-minimalistic-inline-list
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-ticker GBP
									span.currencyconverter-minimalistic-inline-list-item.currencyconverter-minimalistic-change-percentage
										| +0,90
										span.currencyconverter-percentage-symbol %

				.sidebar-widget
					.sidebar-widget-vk
						.sidebar-widget-vk-title Присоединяйтесь к нам!
						a.sidebar-widget-vk-link(href='/')
							i Vkontakte
