header.header
	.container
		.row.align-items-center
			.col-md-4
				a.logo.d-flex.align-items-center(href='/')
					picture.logo-thumb._aside
						img(
							src='i/logo.png',
							srcset='i/logo.png, i/logo@2x.png 2x',
							width='56',
							alt=''
						)
					.logo-title
						b CardsBanking.ru
						span  Навигатор по банковским картам

			.col-md
				.header-search
					form(
						action='/',
						method='get',
						role='search'
					)
						input.header-search-control.form-control(
							type='text',
							name='s',
							placeholder='Поиск по сайту',
							value=''
						)

			.col-md-3
				//- ul.header-links.list-inline
					- var headerLinks = [{'title': 'Сравнение карт', 'type': 'compare'}, {'title': 'Избранное', 'type': 'favorites'}];
					each headerLink in headerLinks
						li.header-links-item.list-inline-item
							a(
								href='/',
								class='header-links-item-link _'+ headerLink.type
							)= headerLink.title